@import "_variables";

@mixin transition($var) {
    -webkit-transition: $var;
    -moz-transition: $var;
    -o-transition: $var;
    transition: $var;
}

@mixin hover-transition($var) {
    @include transition($var);

    &:hover {
        @include transition($var);
    }
}

@mixin digital-display-container() {
    padding: $spacing-xs;
    border-radius: $spacing-s;
    background: $black;
    color: $blue;
    text-shadow: 0 0 $spacing-l $darker-blue;
}

@mixin unselectable() {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}