@import "_variables";

.draw-screen {
    padding: $spacing-m 0;
    text-align: center;

    .number-display-container {
        &.tap-icon-disabled {
            color: $gray;
            text-shadow: none;
        }
        
        .glyphicon.glyphicon-random {
            top: 5px;
        }
    }

    .draw-display {
        cursor: pointer;
    }

    .draw-display-disabled {
        cursor: not-allowed;
    }
}