@import "_variables";

.draw-screen {
    padding: $spacing-m 0;
    text-align: center;

    .number-display-container {
        .glyphicon.glyphicon-random {
            top: 5px;
        }
    }

    .draw-cta {
        display: inline-block;
        background: $green;
        color: $black;
        padding: 0 $spacing-m;
    }

    .draw-display {
        cursor: pointer;
    }

    .draw-display-disabled {
        cursor: not-allowed;
    }

    .tap-icon-disabled .number-display-container {
        color: $gray;
        text-shadow: none;
    }
}