@import "_variables";

.issue-screen {
    .ticket-number-container {
        text-align: center;
        font-size: $font-size-xl;
        line-height: 1em;
        padding: $spacing-s;
        border: 1px solid black;
    }

    .take-button {
        text-transform: uppercase;
    }
}