@import "_variables";
@import "_mixins";
@import "NumberDisplay";
@import "IssueScreen";
@import "DrawScreen";

@font-face {
    font-family: "TruenoRegular";
    src: url("/fonts/TruenoRg.eot?#iefix") format("embedded-opentype"), url("/fonts/TruenoRg.otf");
}

html,
body {
    @include unselectable();
    line-height: $line-height;
    font-size: $font-size-m;
    font-family: "TruenoRegular", "Arial", "Helvetica";
    background-color: $background-color;
    color: $text-color;
}

a {
    @include hover-transition($transition);
    color: $lite-gray;

    &:active,
    &:focus,
    &:hover {
        color: $green;
    }
}

.btn-raffle {
    @include hover-transition($transition);
    @include unselectable();
    color: $lite-gray;
    background-color: transparent;
    display: inline-block;
    padding: $spacing-s $spacing-l;
    margin: $spacing-m;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-bottom: $spacing-s solid transparent;
    outline: none;
    text-decoration: none;

    &:disabled {
        color: $disabled-text-color;
    }

    &:not([disabled]){
        &.activated,
        &:active,
        &:focus,
        &:hover {
            color: $green;
            border-bottom-color: $green;
            outline: none;
            text-decoration: none;
        }
    }
}

.app-tab {
    margin: auto;
    padding: $spacing-m;
    text-align: center;
    font-size: $font-size-l;
}

.site-header {
    margin: $spacing-l 0;
    padding: $spacing-xs $spacing-l;
    border-radius: $spacing-s;
    background: $yellow;
    color: $black;
    pointer-events: none;

    .title {
        font-size: $font-size-xl;
        line-height: 1em;
    }

    .subtitle {
        font-size: $font-size-m;
        line-height: $line-height;        
    }
}

.footer {
    text-align: center;
    font-size: 10px;
    line-height: $line-height;

    a {
        cursor: pointer;
        text-decoration: underline;
    }
}