<div class="draw-screen">
    <p>
        <span ng-show="!$ctrl.hasValidBucket">Not enough numbers to draw.</span>
        <span ng-show="$ctrl.hasValidBucket && $ctrl.isReady">Hold and release to spin.</span>
        <span ng-show="$ctrl.isSpinning">Spinning...</span>
        <span ng-show="$ctrl.isDiscard">Tap to discard number.</span>
    </p>

    <div ng-class="($ctrl.isSpining || !$ctrl.hasValidBucket) ? 'draw-display-disabled' : 'draw-display'"
        ng-mousedown="$ctrl.numberMousedown()"
        ng-mouseup="$ctrl.numberMouseup()">
        <number-display
            ng-show="!$ctrl.isReady"
            value="{{$ctrl.value}}">
        </number-display>

        <div
            class="number-display-container"
            ng-class="{'tap-icon-disabled': !$ctrl.hasValidBucket}"
            ng-show="$ctrl.isReady">
            <div class="number-display-gradient">
                <div class="glyphicon glyphicon-random"></div>
            </div>
        </div>
    </div>
</div>