<div class="row main-app">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="site-header">
            <div class="title">SURELY</div>
            <div class="subtitle">The raffle app</div>
        </div>
        
        <div class="row">
            <div class="col-xs-6 app-tab">
                <a class="btn-raffle"
                    ng-class="{'activated': $ctrl.pathsMatch('Take')}"
                    href="#/Take">Take</a>
            </div>
            <div class="col-xs-6 app-tab">
                <a class="btn-raffle"
                    ng-class="{'activated': $ctrl.pathsMatch('Draw')}"
                    href="#/Draw">Draw</a>
            </div>
        </div>
        <div ng-view></div>
        <div class="app-tab" ng-class="{'hidden': $ctrl.pathsMatch('Reset')}">
                <a class="btn-raffle" href="#/Reset">Reset</a>
            </div>
    </div>
</div>

<div id="copyright">
    <b>Copyright © 2010-{{::$ctrl.getCopyrightYear()}}</b>&nbsp;&nbsp;<a href="http://phamous-apps.com">phamous-apps.com</a>
</div>