.fade {
  opacity: 1;
  transition: opacity 100ms ease-in-out; }
  .fade.fade-out {
    opacity: 0; }
  .fade.fade-in {
    opacity: 1; }

.number-display-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.15+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 2px;
  pointer-events: none; }

.number-display-container {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  text-align: center;
  font-size: 64px;
  line-height: 1.5em;
  padding: 2px;
  border-radius: 4px;
  background: #0e1111;
  color: #51afc9;
  text-shadow: 0 0 16px #3589a1;
  pointer-events: none; }
