.fade {
  opacity: 1;
  transition: opacity 50ms ease-in-out; }
  .fade.fade-out {
    opacity: 0; }
  .fade.fade-in {
    opacity: 1; }

.number-display-container {
  text-align: center;
  font-size: 32px;
  line-height: 1em;
  padding: 4px;
  border: 1px solid black; }
