.number-display-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.15+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 2px;
  pointer-events: none; }

.number-display-container {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  text-align: center;
  font-size: 64px;
  line-height: 1.5em;
  padding: 2px;
  border-radius: 4px;
  background: #0e1111;
  color: #51afc9;
  text-shadow: 0 0 16px #3589a1;
  pointer-events: none; }

.issue-screen {
  padding: 8px 0;
  text-align: center; }
  .issue-screen .issue-display {
    cursor: pointer; }

.draw-screen {
  padding: 8px 0;
  text-align: center; }
  .draw-screen .number-display-container .glyphicon.glyphicon-random {
    top: 5px; }
  .draw-screen .draw-display {
    cursor: pointer; }
  .draw-screen .draw-display-disabled {
    cursor: not-allowed; }
  .draw-screen .tap-icon-disabled .number-display-container {
    color: #4c5b5c;
    text-shadow: none; }

@font-face {
  font-family: TruenoRegular;
  src: url(/fonts/TruenoRg.otf); }

html,
body {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  line-height: 1.5em;
  font-size: 16px;
  font-family: "TruenoRegular", "Arial", "Helvetica";
  background-color: #4c5b5c;
  color: #eef0f0; }

a {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: #eef0f0; }
  a:hover {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
  a:hover {
    color: #6bf9b7; }

.btn-raffle {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  color: #eef0f0;
  background-color: transparent;
  display: inline-block;
  padding: 4px 16px;
  margin: 8px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-bottom: 4px solid transparent;
  outline: none;
  text-decoration: none; }
  .btn-raffle:hover {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
  .btn-raffle:disabled {
    color: #7c8788; }
  .btn-raffle:not([disabled]).activated, .btn-raffle:not([disabled]):active, .btn-raffle:not([disabled]):focus, .btn-raffle:not([disabled]):hover {
    color: #6bf9b7;
    border-bottom-color: #6bf9b7;
    outline: none;
    text-decoration: none; }

.app-tab {
  margin: auto;
  padding: 8px;
  text-align: center;
  font-size: 24px; }

.site-header {
  margin: 16px 0;
  padding: 2px 16px;
  border-radius: 4px;
  background: #fff249;
  color: #0e1111;
  pointer-events: none; }
  .site-header .title {
    font-size: 32px;
    line-height: 1em; }
  .site-header .subtitle {
    font-size: 16px;
    line-height: 1.5em; }

#copyright {
  text-align: center;
  font-size: 10px; }
  #copyright a {
    cursor: pointer;
    text-decoration: underline; }
